<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="container">
      <div id="logo">KB to YNAB converter</div>
      <div id="drop-zone" class="drop-zone">
        <div class="info-text">Drag & drop your CSV report from KB webapp here</div>
      </div>
      <a href="#" id="download-link" class="hidden">Export processed CSV</a>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
